<nav class="menu" aria-label="Main navigation">
    <h2 class="text-center text-white">
      My App
    </h2>
    <ul class="menu__layout">
      <li class="menu__item">
        <a class="menu__link" routerLinkActive="menu__link--active" (click)="showAllert('Dashboard')">
          <span class="menu__title ">Dashboard</span>
        </a>
        <a [routerLink]="['/posts']" class="menu__link" routerLinkActive="menu__link--active">
          <span class="menu__title">Posts</span>
        </a>
        <a class="menu__link" routerLinkActive="menu__link--active" (click)="showAllert('Albums')">
          <span class="menu__title">Albums</span>
        </a>
        <a [routerLink]="['/photos']" class="menu__link" routerLinkActive="menu__link--active">
          <span class="menu__title">Photos</span>
        </a>
      </li>
    </ul>
</nav>
