<div class="layout__block">
  <div class="container">
    <div class="post-page">
      <div class="post-page__title-box">
        <h1 class="post-page__title">
          Posts
        </h1>
      </div>
      <div class="post-page__input-box">
        <app-search-bar [value]="(postsSearchValue$ | async)!" (searched)="onSearch($event)"></app-search-bar>
      </div>
      <div class="scroll-block">
        <app-posts-table
          [posts]="(posts$ | async)!"
          (postId)="handleRequest($event)">
        </app-posts-table>
      </div>
    </div>
  </div>
</div>
<div class="layout__block shrink">
  <app-pagination [info]="(pageInfo$ | async)!" [totalSize]="(posts$ | async)?.length!" (changePageDispatch)="handleParams($event)"></app-pagination>
</div>
